
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bustrack</title>
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="bootstrap_social/bootstrap-social.css">
        <link rel="stylesheet" type="text/css" href="styles/style.css">
    </head>
    <body>
         <div class="container-fluid">
         	
         
        <!-- fin premiere partie  -->
        <br><br><div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="row">
                    <form class="form-horizontal">
                     <fieldset>
                        <legend><span style="">Entrez les informations du Bus</span> </legend>
                        <div class="form-group">
                            <div class="col-lg-3">
                                <label class="control-label" for="filiere">Choisissez votre Ligne:</label>
                            </div>
                            <div class="col-lg-9">
                                <select name="filiere" class="form-control">
                                    <option value="">Choix de votre ligne</option>
                                    <option value=""></option>
                                
                                </select>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <div class="col-lg-3">
                                <label for="gare">Au départ de:</label>
                            </div>
                            <div class="col-lg-9">
                                <input type="text" name="address" id="garedep" class="form-control" />
                            </div>
                        </div><br>
                        <div class="form-group">
                            <div class="col-lg-3">
                                <label for="garedest">A destination de:</label>
                            </div>
                            <div class="col-lg-9">
                                <input type="text" name="address_dest" id="garedest" class="form-control"/>
                            </div>
                        </div><br>
                        
                        <button class="btn btn-lg btn-primary pull-right">Envoyer</button>
                    </fieldset>
            
                </form>
                </div>
                
            </div>
        </div>

        <?php

        include('footer.php');

        ?>
           
        </div>

    <script type="text/javascript" src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    </body>
</html>